/* YOUR STYLING HERE */
ul li:last-child {
  background-color: $blue;
}
ul li {
  list-style: none;
}

.controls {
  background-color: #E7E5E7;
}

.small-2.large-4.columns {
  background-color: #F6F6F6;
  padding: 0px;
  height: 300px;
}


.small-12.columns.notes-header {
  padding: 0px;
  background-color: #E7E5E7;
}

.small-4.large-4.columns {
  padding: 0px;
  background-color: #F6F6F6;
  height: 300px;
}

.small-6.large-4.columns {
  background-color: #F6F6F6;
  height: 300px;
}

.note-content {
  border: solid 1px;
  padding: 5px;
}

.note-content li {
  list-style: none;
}

.highlightNote {
  background-color: green;
}

.folder-highlight {
  background-color: green;
}

.highlight-note {
  background-color: green;
}
